{{ template "widget-base.html" . }}

{{ define "widget-content" }}
<div class="widget-small-content-bounds">
    <div
        class="calendar"
        data-first-day-of-week="{{ .FirstDay }}"
        data-collapse-after="{{ .CollapseAfter }}"
        {{ if .Sources }}
        data-calendar-minimum-month="{{ .MinimumMonth }}"
        data-calendar-maximum-month="{{ .MaximumMonth }}"
        data-calendar-open-links-in-new-tab="{{ .OpenLinksInNewTab }}"
        {{ end }}
    >
        {{ if .Sources }}
        <script type="application/json" data-calendar-events>{{ .EventsJSON }}</script>
        {{ end }}
    </div>
</div>
{{ end }}
