{{ if not .App.Config.Branding.HideFooter }}
<footer class="footer flex items-center flex-column">
{{ if eq "" .App.Config.Branding.CustomFooter }}
    <div>
        <a class="size-h3" href="https://github.com/samcro1967/glance" target="_blank" rel="noreferrer">Glance</a>
        {{- if eq "dev" .App.Version }}
            ({{ .App.Version }})
        {{- else }}
            {{ .App.Version }}
            {{- with .App.ReleaseStatus }}
				{{- if .IsLatest }}
					· <span class="color-positive">Latest</span>
				{{- else if .IsUpdateAvailable }}
                    · {{ if .ReleaseURL }}<a class="color-primary" href="{{ .ReleaseURL }}" target="_blank" rel="noreferrer">Update available</a>{{ else }}<span class="color-primary">Update available</span>{{ end }}
                {{- end }}
            {{- end }}
        {{- end }}
    </div>
{{ else }}
    {{ .App.Config.Branding.CustomFooter }}
{{ end }}
</footer>
{{ end }}