{{ if not .App.Config.Branding.HideFooter }}
<footer class="footer flex items-center flex-column color-base">
{{ if eq "" .App.Config.Branding.CustomFooter }}
    <div>
        <a class="size-h3" href="https://github.com/samcro1967/glance" target="_blank" rel="noreferrer">Glance</a>
        {{- if eq "dev" .App.Version }}
            ({{ .App.Version }}{{ with .App.ShortRevision }} {{ . }}{{ end }})
        {{- else }}
            {{ .App.Version }}
            {{- with .App.ReleaseStatus }}
				{{- if .IsLatest }}
					· <span class="color-positive">Latest</span>
				{{- else if .IsUpdateAvailable }}
                    · {{ if .ReleaseURL }}<a class="color-primary" href="{{ .ReleaseURL }}" target="_blank" rel="noreferrer">Update available</a>{{ else }}<span class="color-primary">Update available</span>{{ end }}
                {{- end }}
            {{- end }}
        {{- end }}
    </div>
{{ else }}
    {{ .App.Config.Branding.CustomFooter }}
{{ end }}
{{ if .Page }}
    {{ with .App.Config.FooterMicroWidgets }}
        {{ if or .Left .Right }}
        <div class="footer-micro-layer">
            {{ if .Left }}
            <div class="footer-micro-group footer-micro-group-left">
                {{ range .Left }}{{ if eq .GetType "config-error" }}{{ template "footer-micro-config-error" . }}{{ else }}{{ renderWidget . }}{{ end }}{{ end }}
            </div>
            {{ end }}
            {{ if .Right }}
            <div class="footer-micro-group footer-micro-group-right">
                {{ range .Right }}{{ if eq .GetType "config-error" }}{{ template "footer-micro-config-error" . }}{{ else }}{{ renderWidget . }}{{ end }}{{ end }}
            </div>
            {{ end }}
        </div>
        {{ end }}
    {{ end }}
{{ end }}
</footer>
{{ end }}
{{ define "footer-micro-config-error" }}<span class="footer-micro-item color-negative" title="{{ .Error }}">Configuration error</span>{{ end }}
