{{ if .Page.ShowMobileHeader }}
<div class="mobile-reachability-header">{{ .Page.Title }}</div>
{{ end }}

{{ if .Page.HeadWidgets }}
<div class="head-widgets">
    {{- range .Page.HeadWidgets }}
    {{- renderWidget . }}
    {{- end }}
</div>
{{ end }}

<div class="page-columns">
{{- range .Page.Columns }}
    <div class="page-column page-column-{{ .Size }}">
        {{- range .Widgets }}
        {{- renderWidget . }}
        {{- end }}
    </div>
{{- end }}
</div>

{{ if .Page.BottomWidgets }}
<div class="bottom-widgets">
    {{- range .Page.BottomWidgets }}
    {{- renderWidget . }}
    {{- end }}
</div>
{{ end }}
