{{ template "widget-base.html" . }}

{{ define "widget-content-classes" }}widget-content-frameless{{ end }}

{{ define "widget-content" }}
<div class="cards-grid collapsible-container" data-collapse-after-rows="{{ .CollapseAfterRows }}">
    {{ $openLinksInNewTab := .OpenLinksInNewTab }}
        {{ range .Videos }}
    <div class="card widget-content-frame thumbnail-parent">
        {{ template "video-card-contents" videoCardTemplateData . $openLinksInNewTab }}
    </div>
    {{ end }}
</div>
{{ end }}
