.widget-group-header {
    overflow-x: auto;
    scrollbar-width: thin;
    background-color: var(--theme-group-background-color, transparent);
    border-bottom: 1px solid var(--theme-group-border-color, transparent);
}

.widget-group-title {
    flex-shrink: 0;
}

.widget-group-content {
    animation: widgetGroupContentEntrance .3s cubic-bezier(0.25, 1, 0.5, 1) backwards;
}

.widget-group-content[data-direction="right"] {
    --direction: 5px;
}

.widget-group-content[data-direction="left"] {
    --direction: -5px;
}

@keyframes widgetGroupContentEntrance {
    from {
        opacity: 0;
        transform: translateX(var(--direction));
    }
}

.widget-group-content:not(.widget-group-content-current) {
    display: none;
}

@media (prefers-reduced-motion: reduce) {
    .widget-group-content {
        animation: none;
    }
}
